# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_JWT_SECRET=your_supabase_jwt_secret

# NextAuth
AUTH_SECRET=your_auth_secret
AUTH_RESEND_KEY=your_resend_api_key
AUTH_RESEND_FROM=The Pitch Connect <noreply@thepitchconnect.com>

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
